body {
  background-color: #f9f7fe;
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}
.container {
  display: block;
  background-color: white;
  padding: 30px;
  margin: 60px auto;
  max-width: 700px;
  border-radius: 20px;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
}
header {
  border-bottom: 1px solid #f7f6fb;
  padding: 0 0 30px 0;
}
.search-section {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}
.city-search-box {
  background-color: #f9f7fe;
  color: #a8a6b4;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 12px;
  flex: 1;
  font-size: 15px;
  min-width: 0;
}
.city-search-box:focus {
  outline: none;
  border-color: #ccb9fb;
}
.submit-button {
  font-size: 15px;
  font-weight: 500;
  color: white;
  background-color: #885df1;
  padding: 15px 17px;
  border: none;
  border-radius: 5px;
  flex-shrink: 0;
  transition: all 120ms ease-in-out;
  cursor: pointer;
}
.submit-button:hover {
  background-color: #6641c2;
  border-color: #885df1;
  color: white;
}
main {
  padding: 10px 0 30px 0;
}
.current-city-weather {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.main-city {
  margin-bottom: 5px;
  font-size: 35px;
}
.weather-description {
  color: #a8a6b4;
  margin-top: 0px;
  font-size: 15px;
}
.weather-description strong {
  color: #f65282;
}
.current-temperature-section {
  display: flex;
}
.current-temp {
  font-size: 110px;
  font-weight: 450;
}
.current-temp-icon {
  font-size: 45px;
  margin-top: 40px;
  margin-right: 10px;
}
.current-temp-unit {
  font-size: 45px;
  margin-top: 15px;
}
footer {
  text-align: center;
  font-size: 12px;
  color: #a8a6b4;
  border-top: 1px solid #f7f6fb;
  padding: 20px 0 0 0;
}
a {
  color: #885df1;
}
.name1:hover {
  color: #f12f8d;
  transition: all 200ms ease;
}
.name2:hover {
  color: #0fc69c;
  transition: all 200ms ease;
}
.name3:hover {
  color: #ec8722;
  transition: all 200ms ease;
}
.name4:hover {
  color: #0e84c3;
  transition: all 200ms ease;
}
.name5:hover {
  color: #93d634;
  transition: all 200ms ease;
}
.name6:hover {
  color: #dc07eb;
  transition: all 200ms ease;
}
.name7:hover {
  color: #f5e342;
  transition: all 200ms ease;
}
.name8:hover {
  color: #69cce2;
  transition: all 200ms ease;
}
.name9:hover {
  color: #ad0e7b;
  transition: all 200ms ease;
}
#main-city {
  text-transform: capitalize;
}
